.user-list-item{
    .user-list-item-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    img {
        max-width: 3rem;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .error{
        color: red;
    }
}